:root{
  --primary-bg-color:rgb(97, 142, 160);
  --primary-color:white;
}
header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 10;
  background-color: rgb(218, 148, 82);
  backdrop-filter: blur(10px);
}
body {
  background:var(--primary-bg-color);
  color:var(--primary-color);
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.header-container, .main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2.5rem;
}
.app-name{
  font-size: 2rem;
  font-weight: 700;
  line-height: 6rem;
  text-transform: uppercase;
}

ul{
  list-style: none;
}
.main-nav a, .app-name a{
  text-decoration: none;
  color:var(--primary-color);
}
.main-nav a:hover{
  background-color:rgb(163, 129, 197);
}
/*
.main-nav {
  display: flex;
  flex-direction: row;
  min-width: 40px;
  justify-content: space-around;
  position:relative;
}
.logo a{
  text-decoration: none;
}
.main-nav a{
  border: 2px solid black;
  padding: 6px;
  border-radius: 6px;
  color:var(--primary-color);
  text-decoration: none;
}
.main-nav a:hover{
  background-color: lightcoral;
}

.hero, .about, .contact, h2{
text-align: center;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items:center;
  box-shadow: 0px 0px 5px var(--primary-color) ;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  line-height:3;
}
.hero a{
  text-decoration: none;
  color:black;
}
input[type=text],
input[type=tel],
input[type=email] {
  border-radius: 5px;
  height: 30px;
  min-width:300px;
  font-size: 20px;
}
#submit, .hero button{
  border: 2px solid black;
  border-radius: 4px;
  font-size:20px;
   cursor: pointer;
}
input{
  border: 1px solid black;
  border-radius: 3px;
  margin: 6px;
}
.down{
  margin: 20px;
  text-align: center;
} */
